alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias zshconfig="code ~/.zshrc"
alias brewup="brew update && brew upgrade && brew cleanup"
alias yat="bat -l yaml"

# Markdown files
alias -s md=code

# JSON files
alias -s json=code

# Kubectl
alias k=kubectl

# VSCode to fix picking up env vars from zshconfig
alias code="open -a 'Visual Studio Code'"
