alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias zshconfig="code ~/.zshrc"
alias brewup="brew update && brew upgrade && brew cleanup"
alias yat="bat -l yaml"

# Markdown files
alias -s md=code

# JSON files
alias -s json=code

# Python files
alias -s py=code

# Istio
alias -q istioDebug="-c istio-proxy -- curl -XPOST -s -o /dev/null http://localhost:15000/logging?level=debug"
