{{ $email := promptStringOnce . "email" "Enter email address" -}}
{{ $signingKey := promptStringOnce . "signingKey" "Enter Github SSH signing key" -}}
{{ $profile := promptStringOnce . "profile" "Enter profile"}}

edit:
  command: "hx"
data:
  email: {{ $email | quote }}
  profile: {{ $profile | quote }}
  signingKey: {{ $signingKey | quote }}
onepassword:
  mode: account
