{{ $email := promptStringOnce . "email" "Enter email address" -}}
{{ $signingkey := promptStringOnce . "signingKey" "Enter Github SSH signing key" -}}
{{ $profile := promptStringOnce . "profile" "Enter profile"}}

editor:
  command: "hx"
data:
  email: {{ $email | quote }}
  profile: {{ $profile | quote }}
  signingkey: {{ $signingkey | quote }}
