[init]
	defaultBranch = main
[user]
	name = Matteo Ruina
	email = {{ .email }}
    signingKey = {{ .signingKey }}

{{- if eq .profile "personal" }}
[commit]
	gpgsign = true
[format]
    signOff = true
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
