{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "age"
brew "asdf"
brew "crane"
brew "difftastic"
brew "fluxcd/tap/flux"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "go"
brew "gpg"
brew "gsed"
brew "helix"
brew "helm"
brew "jq"
brew "kubectl"
brew "mergiraf"
brew "opentofu"
brew "ripgrep"
brew "sops"
brew "starship"
brew "stern"
brew "talhelper"
brew "wget"
brew "xz"
brew "yq"
brew "zoxide"
{{- if eq .profile "work" }}
cask "claude-code"
{{- end }}
EOF
{{ end -}}

{{- if eq .profile "work" }}
brew install orcactl
brew install computectl
brew install deployctl
{{- end }}
brew install 1password-cli
brew install siderolabs/tap/talosctl