{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "starship"
brew "ripgrep"
brew "gsed"
brew "wget"
brew "gpg"
brew "asdf"
brew "gawk"
brew "crane"
brew "difftastic"
brew "stern"
brew "mergiraf"
brew "git"
brew "jq"
brew "gh"
brew "fzf"
brew "helix"
brew "kubectl"
{{- if eq .profile "work" }}
brew "computectl"
brew "meetingbar"
cask "claude-code"
{{- end }}
{{- if eq .profile "personal" }}
brew "siderolabs/tap/talosctl"
{{- end }}
EOF
{{ end -}}
