{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "asdf"
brew "crane"
brew "difftastic"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "go"
brew "gpg"
brew "gsed"
brew "helix"
brew "jq"
brew "kubectl"
brew "mergiraf"
brew "ripgrep"
brew "starship"
brew "stern"
brew "wget"
brew "xz"
brew "yq"
{{- if eq .profile "work" }}
cask "claude-code"
{{- end }}
{{- if eq .profile "personal" }}
brew "siderolabs/tap/talosctl"
{{- end }}
EOF
{{ end -}}

{{- if eq .profile "work" }}
brew install orcactl
brew install computectl
{{- end }}
brew install 1password-cli
