{{- if eq .profile "work" }}
# BEGIN ANSIBLE MANAGED BLOCK
Host *
Compression yes
ServerAliveInterval 30
# END ANSIBLE MANAGED BLOCK
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no

Host i-* mi-*
    ProxyCommand sh -c "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
{{- end }}
{{- if eq .profile "personal" }}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Host tavore
    HostName 172.16.0.6
    Port 22
    User ruio

Host tamber
    HostName 188.166.174.166
    Port 22
    User tamber

Host hass
    HostName 172.16.0.14
    Port 22
    User hassio
{{- end }}
