{{- if eq .profile "work" }}
# BEGIN ANSIBLE MANAGED BLOCK
Host *
Compression yes
ServerAliveInterval 30
# END ANSIBLE MANAGED BLOCK
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no

Host i-* mi-*
    ProxyCommand sh -c "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
{{- end }}