{{ if eq .profile "work" -}}
{
  "mcpServers": {
    "slack": {
      "command": "python3",
      "args": [
        "/Users/matteo.ruina/.pi/agent/skills/slack-mcp/scripts/slack-mcp-proxy.py"
      ]
    }
  }
}
{{- end }}
