{{- if eq .profile "work" -}}
{
  "lastChangelogVersion": "0.71.1",
  "defaultProvider": "datadog-ai-gateway-anthropic",
  "defaultModel": "anthropic/claude-sonnet-4-6",
  "defaultThinkingLevel": "minimal",
  "enabledModels": [
    "datadog-ai-gateway-anthropic/anthropic/claude-sonnet-4-6",
    "datadog-ai-gateway-anthropic/anthropic/claude-opus-4-7",
    "datadog-ai-gateway/openai/gpt-5.3-codex",
    "datadog-ai-gateway/google/gemini-3.1-pro-preview"
  ]
}
{{- else -}}
{
  "lastChangelogVersion": "0.71.0",
  "defaultProvider": "openrouter",
  "defaultModel": "deepseek/deepseek-v3.2",
  "defaultThinkingLevel": "medium"
}
{{- end }}
