{{- if eq .profile "work" -}}
{
  "lastChangelogVersion": "0.71.1",
  "defaultProvider": "datadog-ai-gateway-anthropic",
  "defaultModel": "anthropic/claude-sonnet-4-6",
  "defaultThinkingLevel": "minimal"
}
{{- else -}}
{
  "lastChangelogVersion": "0.72.0",
  "defaultProvider": "opencode-go",
  "defaultModel": "qwen3.6-plus",
  "defaultThinkingLevel": "medium"
}
{{- end }}
