# Need if you install fish with homebrew
/opt/homebrew/bin/brew shellenv | source

if status is-interactive
    # Commands to run in interactive sessions can go here
end

# Created by `pipx` on 2025-11-26 18:06:51
set PATH $PATH {{ .chezmoi.homeDir }}/.local/bin
starship init fish | source

{{- if eq .profile "work" }}
# BEGIN ANSIBLE MANAGED BLOCK
# Load homebrew shell variables
eval "$(/opt/homebrew/bin/brew shellenv)"

# Force certain more-secure behaviours from homebrew
export HOMEBREW_NO_INSECURE_REDIRECT=1
export HOMEBREW_CASK_OPTS=--require-sha
export HOMEBREW_DIR=/opt/homebrew
export HOMEBREW_BIN=/opt/homebrew/bin

# Load python shims
eval "$(pyenv init -)"

# Load ruby shims
eval "$(rbenv init -)"

# Prefer GNU binaries to Macintosh binaries.
export PATH="/opt/homebrew/opt/coreutils/libexec/gnubin:$PATH"

# Add datadog devtools binaries to the PATH
export PATH="$HOME/dd/devtools/bin:$PATH"

# Point GOPATH to our go sources
export GOPATH="$HOME/go"

# Add binaries that are go install-ed to PATH
export PATH="$GOPATH/bin:$PATH"

# Point DATADOG_ROOT to ~/dd symlink
export DATADOG_ROOT="$HOME/dd"

# Tell the devenv vm to mount $GOPATH/src rather than just dd-go
export MOUNT_ALL_GO_SRC=1

# store key in the login keychain instead of aws-vault managing a hidden keychain
export AWS_VAULT_KEYCHAIN_NAME=login

# tweak session times so you don't have to re-enter passwords every 5min
export AWS_SESSION_TTL=24h
export AWS_ASSUME_ROLE_TTL=1h

# Helm switch from storing objects in kubernetes configmaps to
# secrets by default, but we still use the old default.
export HELM_DRIVER=configmap

# Go 1.16+ sets GO111MODULE to off by default with the intention to
# remove it in Go 1.18, which breaks projects using the dep tool.
# https://blog.golang.org/go116-module-changes
export GO111MODULE=auto
# Configure Go to pull go.ddbuild.io packages.
export GONOSUMDB=github.com/DataDog,go.ddbuild.io
export GOPRIVATE=
export GOPROXY="https://depot-read-api-go.us1.ddbuild.io/magicmirror/magicmirror/@current/|https://depot-read-api-go.us1.ddbuild.io/magicmirror/magicmirror/@current/|https://depot-read-api-go.us1.ddbuild.io/magicmirror/testing/@current/"
# END ANSIBLE MANAGED BLOCK

# Claude Code environment variables
set -x CLAUDE_BASH_MAINTAIN_PROJECT_WORKING_DIR 1
set -x CLAUDE_CODE_DISABLE_FEEDBACK_SURVEY 1
set -x CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC 1
set -x IS_DEMO 1
{{- end }}
{{- if eq .profile "personal" }}
set -x GOROOT (go env GOROOT)
set -x GOPATH (go env GOPATH)
set -x GOBIN (go env GOBIN)
set -x PATH $PATH $GOBIN $GOPATH/bin

set -gx OPENROUTER_API_KEY '{{ onepasswordRead "op://Private/OpenRouter/openrouter-api-key" }}'
set -gx ANTHROPIC_BASE_URL "http://127.0.0.1:3456"
set -gx ANTHROPIC_AUTH_TOKEN '{{ onepasswordRead "op://Private/OpenRouter/openrouter-api-key" }}'

set -gx KUBECONFIG $HOME/.kube/config
set -gx TALOSCONFIG $HOME/.talos/config
{{- end }}

# ASDF configuration code
if test -z $ASDF_DATA_DIR
    set _asdf_shims "$HOME/.asdf/shims"
else
    set _asdf_shims "$ASDF_DATA_DIR/shims"
end

# Do not use fish_add_path (added in Fish 3.2) because it
# potentially changes the order of items in PATH
if not contains $_asdf_shims $PATH
    set -gx --prepend PATH $_asdf_shims
end
set --erase _asdf_shims

# Zoxide
zoxide init fish | source
